<!DOCTYPE html>
<html>
    <head>
        <title>HardwareTech GmbH</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Produkte</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Samsung QLED 4K Q60A TV 43 Zoll</a></h2>
            <p>Bildschirmaufloesung	UHD (3840 x 2160 Pixel)
                Bildschirmdiagonale	43 Zoll
                Ausgangsleistung (RMS)	20 W
                Dolby-Technologie	Dolby Digital Plus
                Recorderfunktion (PVR)	ja
                ARC (Audio Return Channel) ueber HDMI	ja
                USB-Anschluesse	2
                Netzwerkanschluss (LAN)	ja
                HDMI-Anschluesse	3
                WLAN integriert	ja, Ja (WiFi5)
                Digitaler Audio-Ausgang	1 (optisch)
                Digitaler Fernsehempfang (DVB)	DVB-T2/C/S2
                HbbTV	HbbTV 2.0.2
                VESA Wandhalterungsnorm	200 x 200</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">iPhone 13</a></h2>
            <p>Display: 6,1 Zoll AMOLED (2340 x 1080 Pixel, 120 Hertz)
                Hauptkamera: 50 MP Weitwinkel, 12 MP Ultraweitwinkel, 10 MP Tele
                Frontkamera: 10 MP Weitwinkel
                Chip: Samsung Exynos 2200
                Speicher: 8 GB RAM, 128 oder 256 GB Datenspeicher
                Akku: 3700 mAh (Aufladen: 25 Watt per Kabel, 15 Watt via Qi)
                Abmessungen: 146 x 70,6 x 7,6 mm
                Gewicht: 167 Gramm</p>
        </article>
    </body>
</html>
